services:
  app:
    image: ghcr.io/irsyamokta/intera:latest
    container_name: intera
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - dockernet

networks:
  dockernet:
    external: true
